In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [32]:
bike_infra = "Bike_Network.csv"
bike_infra_df = pd.read_csv(bike_infra)
bike_infra_df.head()

,OBJECTID,SEG_ID,STREETNAME,ST_CODE,ONEWAY,CLASS,TYPE,Shape__Length
0,1,100002,BARTRAM AVE,16120,B,2,Conventional,1116.637358
1,2,100003,BARTRAM AVE,16120,B,2,Conventional,371.888030
2,3,100004,BARTRAM AVE,16120,B,2,Conventional,48.720227
3,4,100040,ISLAND AVE,45120,FT,2,Paint Buffered,191.424196
4,5,100045,BARTRAM AVE,16120,B,2,Conventional,410.264295

In [33]:
acc_data = "accident_data_philly.csv"
acc_data_df = pd.read_csv(acc_data)
acc_data_df.head()

,DATE,Time,STREET NAME,VEHICLES,TOTAL PEOPLE,PEDESTRIANS,BICYCLISTS,INJURIES,MAJOR INJURIES,FATALITIES
0,11-Jan,3:36 a.m.,BENSON ST & FRANKFORD AV,2,3,1,0,0,0,1
1,11-Jan,21:00 p.m.,CONSHOHOCKEN AV,1,2,1,0,1,1,0
2,11-Jan,17:45 p.m.,WOODLAND AV,1,2,1,0,0,0,1
3,11-Jan,3:10 a.m.,GLENWOOD AV,1,2,1,0,1,1,0
4,11-Feb,16:37 p.m.,N FRONT ST,1,2,1,0,0,0,1

In [42]:
# Create a filtered dataframe from specific columns of the bike infrastrucuture dataframe
# with values street names, street code, and type of infrastructure 

bike_infra_cols = bike_infra_df[["OBJECTID","STREETNAME", "TYPE"]].copy()
bike_infra_cols = bike_infra_cols.rename(columns={"TYPE": "Lane_Type", 
                                                 "STREETNAME": "Street_Name_lane"})
bike_infra_cols.head()

   OBJECTID Street_Name_lane       Lane_Type
0         1     BARTRAM  AVE    Conventional
1         2     BARTRAM  AVE    Conventional
2         3     BARTRAM  AVE    Conventional
3         4      ISLAND  AVE  Paint Buffered
4         5     BARTRAM  AVE    Conventional

In [44]:
# Create a filtered dataframe from specific columns of the bike accident dataframe
# with values street names, street code, and type of infrastructure 
acc_data_cols = acc_data_df[["STREET NAME", "BICYCLISTS", "INJURIES", "MAJOR INJURIES"]].copy()
acc_data_cols = acc_data_cols.rename(columns={"STREET NAME": "STREET_NAME", 
                                                 "MAJOR INJURIES": "MAJOR_INJURIES"})
acc_data_cols.head()

                STREET_NAME  BICYCLISTS  INJURIES  MAJOR_INJURIES
0  BENSON ST & FRANKFORD AV           0         0               0
1           CONSHOHOCKEN AV           0         1               1
2               WOODLAND AV           0         0               0
3               GLENWOOD AV           0         1               1
4                N FRONT ST           0         0               0

In [45]:
connection_string = "postgres:postgres@localhost:5432/bike_acc_and_infra_db"
engine = create_engine(f'postgresql://{connection_string}')

In [46]:
engine.table_names()

C:\Users\ramya\AppData\Local\Temp\ipykernel_1976\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['infrastructure', 'accidents']

In [ ]:
#make sure there are no null values in data 
#make sure columns names
#match data types as well

In [47]:
bike_infra_cols.to_sql(name='infrastructure', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "infrastructure" does not exist
LINE 1: INSERT INTO infrastructure (index, "OBJECTID", "Street_Name_...
                                    ^

[SQL: INSERT INTO infrastructure (index, "OBJECTID", "Street_Name_lane", "Lane_Type") VALUES (%(index)s, %(OBJECTID)s, %(Street_Name_lane)s, %(Lane_Type)s)]
[parameters: ({'index': 0, 'OBJECTID': 1, 'Street_Name_lane': 'BARTRAM  AVE', 'Lane_Type': 'Conventional'}, {'index': 1, 'OBJECTID': 2, 'Street_Name_lane': 'BARTRAM  AVE', 'Lane_Type': 'Conventional'}, {'index': 2, 'OBJECTID': 3, 'Street_Name_lane': 'BARTRAM  AVE', 'Lane_Type': 'Conventional'}, {'index': 3, 'OBJECTID': 4, 'Street_Name_lane': 'ISLAND  AVE', 'Lane_Type': 'Paint Buffered'}, {'index': 4, 'OBJECTID': 5, 'Street_Name_lane': 'BARTRAM  AVE', 'Lane_Type': 'Conventional'}, {'index': 5, 'OBJECTID': 6, 'Street_Name_lane': 'S  84TH  ST', 'Lane_Type': 'Conventional'}, {'index': 6, 'OBJECTID': 7, 'Street_Name_lane': 'S  84TH  ST', 'Lane_Type': 'Conventional'}, {'index': 7, 'OBJECTID': 8, 'Street_Name_lane': 'BARTRAM  AVE', 'Lane_Type': 'Conventional'}  ... displaying 10 of 5101 total bound parameter sets ...  {'index': 5099, 'OBJECTID': 5100, 'Street_Name_lane': 'SOUTHAMPTON  RD', 'Lane_Type': 'Conventional'}, {'index': 5100, 'OBJECTID': 5101, 'Street_Name_lane': 'SOUTHAMPTON  RD', 'Lane_Type': 'Conventional'})]
(Background on this error at: https://sqlalche.me/e/14/f405)